@use '../../styles/colors' as *;

.whole {
  min-height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $background-color_b;
}
.weatherSection {
  width: 90vw;
  padding: 20px 10px;
}
.mainContent {
  display: flex;
}
