/* background */
$background-color_b: #f3f8ff;
$background-color_p: #e2f5ff;
$background-color_pg: #e2cbff;

/* primary */
$primary-color_b: #4a90e2;
$primary-color_bg: #83a4ca;
$primary-color_p: #7e57c2;

/* point */
$point-color_y: #ffd700;
$point-color_dp: #311b92;
$point-color_p: #512da8;

/* text */
$text-color: #333333;

/* white */
$white_FF: #ffffff;

/* button */
$button-color_1E: #1e88e5;
